:host {

	display: block;
	height: 100%;
	min-height: 100%;

	.home-content {
		height: auto;
	}

}

.title {
	color: blue;
}

products-list[tipodeproduto="laptops"] mat-card-title {
	color: red;
  }
  
  products-list[tipodeproduto="smartphones"] mat-card-title,
  products-list mat-card-title {
	color: blue;
  }
  
