<div layout="column" layout-fill layout-margin layout-align="strech start">

	<div id="title" flex="none">Produtos</div>

	<div layout="row" flex>

		<div layout="column" layout-margin flex>
			
			<h1 id="smartphonesTitle">Smartphones</h1>
			<products-list [products]="smartphones" title="Smartphones"></products-list>
		</div>

		<div layout="column" layout-margin flex>
			<h1 id="laptopsTitle">Laptops</h1>
			<products-list [products]="laptops" title="Laptops"></products-list>
		</div>

	</div>

</div>
