mat-card {
  transition: box-shadow .3s;
  max-width: 350px;
  max-height: 650px;
  margin: 2em auto;
  border-radius: 5px;
  margin-bottom: 1.5em;
  padding: 1.5em;
    

  &:hover {
    box-shadow: 0 0.5em 1em -0.3em rgba(158,158,158,.5);
    transform: translateY(-5px);
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    margin: 0 auto;
    display: block;
    
    
  }

  mat-card-actions {
    display: flex;
    justify-content: space-around;
    button {
      display: flex;
      align-items: center;
      i {
        margin-right: 15px;
        space: 1em;
      }

      &:first-child {
        background-color: #4caf50;  // verde
        color: white;
      }

      &:nth-child(2) {
        background-color: #f44336;  // vermelho
        color: white;
      }

      &:last-child {
        background-color: #2196f3;  // azul
        color: white;
      }
    }
  }
}
