mat-card {
    transition: box-shadow .3s;
    width: 80%;  // width ajustada para 60%
    height: 800px;  // define uma altura fixa
    box-sizing: border-box;  // faz com que padding e border não afetem a largura e altura totais
    border-radius: 5px;
    margin: 1.5em;
    display: flex;  // adicionado para alinhar o conteúdo no centro
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        box-shadow: 0 0.5em 1em -0.3em rgba(158,158,158,.5);
        transform: translateY(-5px);
    }

    mat-card-actions {
        display: flex;
        justify-content: space-around;
        button {
            display: flex;
            align-items: center;
            i {
                margin-right: 5px;
            }
        }
    }
}